<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="css/styles.css">
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This is a test project</p>
        </div>
        
        {{>footer}}
    </body>
</html>